body {
  background-color: #1D2021;
  color: #95C085;
  font-family: monospace;
  max-width: 1024px;
  margin: auto;
  padding: 5px;
  font-size: 1.25em;
}

a {
  color: #2D8698;
}

a:visited {
  color: #9F5683;
}

h1 {
  text-align: center;
}

.event-info {
  font-style: italic;
  font-size: 0.9em;
}

ul.events {
}

ul.events li {
  border: 2px dashed gray;
  padding: 0 5px;
  margin-bottom: 10px;
}
